@import "tailwindcss";


@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}



@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  .animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
  }
  .pause {
    animation-play-state: paused;
  }
}
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

.animate-fade-in-out {
  animation: fadeInOut 2s ease-in-out forwards;
}